<div class="container-fluid mt-4">
  <h2 i18n="@@photos">Fotos</h2>
  <p>{{message}}</p>
  <div class="row">
    <div class="col-12 col-lg-6">
      <img src="img/projects/cristianvedocs.png" class="rougit nded img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/enestoestuve.png" class="rounded img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/entrekids.png" class="rounded img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/seleccionacolor.png" class="rounded img-fluid"/>
    </div>
  </div>
</div>

