<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
    <span class="navbar-text">
      <a href="/es">ES</a> | <a href="/en-US">EN</a>
    </span>
  </div>
</nav>
<section class="layout">
  <div class="container-fluid">
  <h2 i18n="@@photos">Fotos</h2>
  <p>{{message}}</p>
  <div class="row">
    <div class="col-12 col-lg-6">
      <img src="img/projects/cristianvedocs.png" class="rougit nded img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/enestoestuve.png" class="rounded img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/entrekids.png" class="rounded img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/seleccionacolor.png" class="rounded img-fluid"/>
    </div>
  </div>
</div>
</section>


